h1 {
    font-family: Orbitron, Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 50px
}

#container {
    display: flex;
    justify-content: space-around;
    /* width: 500px; */
    margin-top: 100px;
    margin-left: 100px;
}

#weight-container {
    /* display: flex;
    justify-content: space-around; */
    margin-left: 20px;
    font-family: Play;
}

#user-weight {
    width: 150px;
    height: 25px;
    font-size: 15px
}

#planet-container {
    /* float: right; */
    /* margin-right: 20px; */
    font-family: Play
}

#planets {
    width: 150px;
    height: 30px;
}

#button-container {
    display: grid;
    justify-content: center;
    margin-top: 100px;
    font-family: Play;
}

#calculate-button {
    justify-content: center;
    width: 300px;
    height: 40px;
}

#new-planet-container {
    /* display: flex; */
    /* flex-direction: row; */
    height: 30px;
    /* float: right; */
}

#new-planet-button {
    width: 100px;
}